<link rel="stylesheet" href="./css/all_habits.css">
<div class="habits-container">
    <% var remove = "Removed Succeully!" %>
    <% if(habits.length == 0) { %>
        <span style="margin: 10px; font-size: 19px;">No habits...</span>
    <%} %>
    <%for(let i = 0; i < habits.length; i++) { %>
        <div class="habit">
            <h2 id="habit-heading"><%= habits[i].habit %>:</h2>
            <a href="/delete-habit/?id=<%= habits[i].id%>&remove=<%= remove %>"><i class="far fa-trash-alt"></i></a>
        </div>
        <% if(i < habits.length-1) { %>
            <span class="line"></span>
        <%} %>
    <%}%>
</div>