.habits-container{  
    margin: 20px auto;
    box-shadow: 0px 0px 7px 0px  rgb(170, 108, 118);
    background-color: rgb(236, 235, 235);
    width: 50%;
}

.habit
{
    display: flex;
    position: relative;
    padding: 10px 0;
}

.habit:hover{
    background-color: rgb(223, 223, 223);
}

.line{
    border-bottom: 1.5px solid black;
    display: block;
}