#habits-container
{
    padding: 10px 0px;
    margin: 2% 0 0 10%;
    box-shadow: 0px 0px 7px 0px  rgb(170, 108, 118);
    width: 80%;
    background-color: rgb(236, 235, 235);
}

.habit{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.habit-header
{
    display: flex;
    position: relative;
}

.line{
    width: 90%;
    margin: 20px auto 10px;
    border-bottom: 1.5px solid black;
    display: block;
}

#date
{
    margin: 5px 0;
}

.day{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 5px;
    background-color:rgb(196, 196, 223);
    width: 14%;
}

.status-button{
    height: 30px;
    margin: 5px;
    cursor: pointer;
    background-color: rgb(252, 63, 63);
    outline: none;
    border: 1px solid black;
    font-size: 16px;
}