*
{   
    font-family: 'Castoro', serif;
}
body
{
    margin: 0;
    padding: 0;
    background-color:rgb(253, 235, 238);
}
nav{
    background-color: rgb(118, 118, 235);
    position: sticky;
    top: 0px;
    z-index: 1;
    margin-top: -5px;
    margin-bottom: 10px;
}
#logo   
{
    text-align: center;
    width: 16%;
    font-size: 28px;
    padding: 5px 0 10px;
    margin: 5px;
    color: white;
    border-radius: 10px;
    font-family: 'Sansita Swashed', cursive;
    display: inline-block;
}

#notification
{
    display: none;
    position: fixed;
    padding: 10px 20px;
    top: 75px;
    right: 15px;
    border-radius: 5px;
    background-color: greenyellow;
}

.right-nav{
    display: inline-block;
    float: right;
    color: white;
    margin: 18px;
}

.right-nav-item{
    margin: 5px;
    font-size: 18px;
    color: white;
    padding: 5px;
    text-decoration: none;
}

i
{
    position: absolute;
    right: 15px;
    margin: 5px 0px 5px 8px;
    font-size: 23px;
}

#habit-heading
{
    margin: 0 0px 5px 8px;
}

#add-habit
{
    height: 30px;
    width: 40%;
    font-size: 20px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 27%;
    border: 2px solid rgb(176, 176, 248);
    outline: none;
    font-family: 'Castoro', serif;
}
#add-button
{
    font-family: 'Castoro', serif;
    font-weight: bold;
    height: 44px;
    font-size: 20px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 0;
    background-color:  rgb(118, 118, 235);
    color: white;
    border: 0px;
    padding: 5px 15px;
    outline: none;
    cursor: pointer;
}
